**/.DS_Store

**/.idea/**
!.idea/runConfigurations
!.idea/vcs.xml
**/.iml

**/.gradle/**
local.properties

**/build/**
!.github/actions/build/**
kotlin-js-store/yarn.lock

# gradle-profiler
**/profile-out*/**
**/gradle-user-home/**

**/*.hprof
